body {
  background-color: #393f33;
}
h1 {
  border: 2px solid #d2c9b9;
}
div {
  margin: auto;
}
.wok-logo {
  position: absolute;
  left: 0;
  top: 0;
}
.h1-tittel {
  color: #d2c9b9;
  position: absolute;
  text-align: center;
  top: 25px;
  left: 450px;
}

.menu-holder {
  border: 5px solid #d2c9b9;
  top: 0;
  position: absolute;
  right: 0;
  height: 425px;
  width: 350px;
}

.menu {
  color: #d2c9b9;
  display: flex;
  width: 150px;
  height: 30%;
  padding-top: 10px;
  border: 3px #d2c9b9;
  text-align: center;
}

.historie {
  position: absolute;
  left: 50px;
  top: 400px;
  color: #d2c9b9;
  border: 2px;
}

.frokost1 {
  position: absolute;
  text-align: center;
  color: #d2c9b9;
  top: 25px;
  left: 450px;
}

a {
  text-decoration: none;
  color: #d2c9b9;
}

.frokostnavn {
  text-align: center;
  position: absolute;
  color: #d2c9b9;
  top: 150px;
  left: 480px;
}

.sidepic {
  position: absolute;
  top: 0px;
  right: 0px;
}

.frokostingred {
  text-align: center;
  position: absolute;
  top: 200px;
  left: 460px;
  color: #d2c9b9;
}

.andrealternativ {
  position: absolute;
  text-align: center;
  top: 270px;
  left: 510px;
  color: #d2c9b9;
}

.omelett {
  position: absolute;
  text-align: center;
  top: 310px;
  left: 460px;
  color: #d2c9b9;
}

.middagnavn {
  text-align: center;
  position: absolute;
  color: #d2c9b9;
  top: 150px;
  left: 380px;
}

.middagingred1 {
  text-align: center;
  position: absolute;
  color: #d2c9b9;
  top: 200px;
  left: 420px;
}

.middagnavn2 {
  text-align: center;
  position: absolute;
  color: #d2c9b9;
  top: 250px;
  left: 420px;
}

.middag2ingred {
  color: #d2c9b9;
  text-align: center;
  position: absolute;
  top: 300px;
  left: 420px;
}

.lunsjtittel {
  color: #d2c9b9;
  text-align: center;
  position: absolute;
  top: 25px;
  left: 450px;
}

.lunsj1ingred {
  position: absolute;
  color: #d2c9b9;
  text-align: center;
  top: 160px;
  left: 420px;
}

.lunsj2tittel {
  position: absolute;
  color: #d2c9b9;
  text-align: center;
  top: 210px;
  left: 450px;
}

.lunsj1 {
  position: absolute;
  color: #d2c9b9;
  top: 90px;
  left: 440px;
}

.lunsj2ingred {
  position: absolute;
  color: #d2c9b9;
  top: 250px;
  left: 430px;
}
